{% extends 'base.html'%}

{% block content %}
<hr>
<div class="row">
    <div class="col-sm-2">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Introduction</a>
            <a href="#" class="list-group-item list-group-item-action">MITRE-ATT&CK mapper</a>
            <a href="#" class="list-group-item list-group-item-action">MITRE-CWE matcher</a>
            <a href="#" class="list-group-item list-group-item-action">Configuration</a>
        </div>
    </div>

    <div class="col-sm-10">
        {% block mgmContent %} {% endblock %}
    </div>
</div>

{% endblock %}
