{% extends 'base.html'%}

{% block content %}
<hr>
<div class="row">
    <div class="col-sm-2">
        <div class="list-group">

            {% if posts['page'] == 0 %}
                <a href="{{ url_for('index')}}" class="list-group-item list-group-item-action bg-secondary">Introduction</a>
            {% else %}
                <a href="{{ url_for('index')}}" class="list-group-item list-group-item-action">Introduction</a>
            {% endif %}
            
            {% if posts['page'] == 1 %}
                <a href="{{ url_for('mitreattack')}}" class="list-group-item list-group-item-action bg-secondary">MITRE-ATT&CK mapper</a>
            {% else %}
                <a href="{{ url_for('mitreattack')}}" class="list-group-item list-group-item-action">MITRE-ATT&CK mapper</a>
            {% endif %}


            {% if posts['page'] == 2 %}
                <a href="{{ url_for('mitrecwe')}}" class="list-group-item list-group-item-action bg-secondary">MITRE-CWE matcher</a>
            {% else %}
                <a href="{{ url_for('mitrecwe')}}" class="list-group-item list-group-item-action">MITRE-CWE matcher</a>
            {% endif %}
            
            {% if posts['page'] == 3 %}
                <a href="{{ url_for('configuration')}}" class="list-group-item list-group-item-action bg-secondary">Configuration</a>
            {% else %}
                <a href="{{ url_for('configuration')}}" class="list-group-item list-group-item-action">Configuration</a>
            {% endif %}

        </div>
    </div>

    <div class="col-sm-10">
        {% block mgmContent %} 
        {% endblock %}
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger"> {{message}}</div>
        {% endfor %}
    
    </div>
</div>
{% endblock %}
